.bread-crumb-section {
  position: relative;
  padding: 120px 0;
  background-image: url("../images/error/bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  .shape1 {
    top: 0px;
    left: 0px;
  }
}