.el-date-editor{
    padding: 0 !important;
    // border: 0 !important;
    margin-bottom: 10px !important;
    top:-5px;
}
.el-cascader-menu {
    height: 200px;
}
.el-cascader-panel {
    height: 200px;
}
.image-error{
	line-height: 100px;
	text-align: center;
}
.s-pointer{
    cursor:pointer;
}
.el-popup-parent--hidden .fixed-header {
     padding-right: 0px !important; 
}